# --- Android / Gradle ---
.gradle/
**/build/
.cxx/
local.properties

# --- Android Studio ---
.idea/
*.iml

# --- Outputs / caches ---
captures/
.externalNativeBuild/

# --- Bundles/APKs ---
*.apk
*.aab

# --- SO / misc ---
.DS_Store
